html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
* {
  box-sizing:border-box;
}
body {
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('../crowd_1_1024.png');
  background-size:cover;
  width: 2000px;
  height: 1200px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

$black: #333;
$grey: rgba(255, 255, 255, 0.7);
$blue: #477DCA;

.app-container {
  margin-top:120px;
  @include outer-container;
}


section{
  margin-top:40px;
  margin-bottom:40px;
}


.allcontacts-view article{
  z-index:0;
  margin-bottom:30px;
  padding:10px;
  text-align:left;
  min-height:400px;
  @include span-columns(4);
  margin-right:1.5%;
  position:relative;
  .contact-but-wrapper {
  }
  i {
    margin-right:8px;
    color:$blue;
  }
  span{
    float:right;
    i.fa {
      display:none;
      margin-right:8px;
      opacity:.5;
      transition: all .5s ease;
      &:last-child{
        margin:0;
      }
      &:hover {
        opacity:1;
        transform: scale(1.4);
      }
    }
    .fa-pencil {
      color:$blue;
    }
    .fa-close {
      color:darken(red, 10%);
    }
  }
  h3:hover > span i.fa {
    display:inline-block;
  }
  &:last-child{
    margin:0;
  }
  a.submitEdit {
    background-color:$blue;
    color:white;
    border-radius:3px;
    padding:8px;
    float:right;
    font-size:1em;
    font-weight:600;
    &:hover{
      background-color:darken($blue, 10%);
    }
  }
  h3 {
    vertical-align:middle;
    cursor:pointer;
  }
  p {
    margin-bottom:4px;
  }
  input {
    margin-bottom:0px;
  }
  input[name="twitter"] {
    margin-right:10%;
  }

  input[name="city"]{
    margin-right:2%;
  }

  input[name="zip"],
  input[name="city"]{
    display:inline-block;
    width:32%;
  }
  input[name="state"]{
    width:32%;
    display:inline-block;
    margin-right:2%;
  }

  input[name="twitter"],
  input[name="github"] {
    width:45%;
    display:inline-block;
  }
  textarea {
    display:inline-block;
  }
}

.editForm-wrapper{
  margin-top:20px;
}

.show{
  display:block;
}

.addcontact-button-wrapper{
  top:100px;
  left:40px;
  position:fixed;
  background-color:$black;
  border-radius:5px;
  z-index:1000;
  @include transition(all .5s ease-in-out);
  a{
    display:block;
    padding:16px;
    padding-top:10px;
    padding-bottom:10px;
    color:$grey;
    @include transition(all .5s ease-in-out);
    &:hover{
      color:$blue;
    }
  }
}

.addcontact-view {
  background-color:$black;
  color:$blue;
  padding:20px;
  width:300px;
  top:60px;
  right:10px;
  position:absolute;
  border-radius:5px;
  @include transition(all .5s ease-in-out);
}

.splash-view .container {
  width:50%;
  margin:0 auto;
  margin-top:200px;
  padding:40px;
  border:3px solid $blue;
  border-radius:3px;
  background-color:white;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(50, 50, 50, 0.50);
  -moz-box-shadow:    5px 5px 0px 0px rgba(50, 50, 50, 0.50);
  box-shadow:         5px 5px 0px 0px rgba(50, 50, 50, 0.50);
  h2 {
    text-align:center;
    font-size:1.5em;
  }
  h5 {
    color:lighten(black, 40%);
  }
  input{
    display:inline-block;
    margin-right:10px;
    border-radius:3px;
    height:40px;
    width:80%;
  }
  a{
    background-color:$blue;
    color:white;
    border-radius:3px;
    padding:8px;
    float:right;
    font-size:1em;
    font-weight:600;
    &:hover{
      background-color:lighten($blue, 10%);
    }
  }
}



.userauth {
  width:50%;
  margin:0 auto;
}

.spin {
  transform: rotate(360deg);
}

.flush{
  opacity:0;
}

.logo {
  margin-top:14px;
}
