html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
* {
  box-sizing:border-box;
}

$black: #333;
$grey: rgba(255, 255, 255, 0.7);
$blue: #477DCA;

.app-container {
  margin-top:120px;
  @include outer-container;
}


section{
  margin-top:40px;
  margin-bottom:40px;
}


.allcontacts-view article{
  margin-bottom:30px;
  padding:10px;
  border:thin solid black;
  text-align:left;
  min-height:400px;
  @include span-columns(3);
  margin-right:1.5%;
  .contact-but-wrapper {
  }
  &:last-child{
    margin:0;
  }
}

.editForm-wrapper{
  display:none;
  margin-top:20px;
}

.show{
  display:block;
}

.addcontact-button-wrapper{
  top:100px;
  right:40px;
  position:fixed;
  background-color:$black;
  border-radius:5px;
  z-index:1000;
  @include transition(all .5s ease-in-out);
  a{
    display:block;
    padding:16px;
    padding-top:10px;
    padding-bottom:10px;
    color:$grey;
    @include transition(all .5s ease-in-out);
    &:hover{
      color:$blue;
    }
  }
}

.addcontact-view {
  background-color:$black;
  color:$blue;
  padding:20px;
  width:300px;
  top:60px;
  right:10px;
  position:absolute;
  border-radius:5px;
  @include transition(all .5s ease-in-out);
}

.userauth {
  width:50%;
  margin:0 auto;
}

.off-right{
  right:-1000px;
}

.spin {
  transform: rotate(360deg);
}

.flush{
  right:320px;
}
