/*CSS for FlipCard*/
.flip-container {
  perspective: 1000;
  margin:0 auto;
}
/* flip the pane when hovered */
.flipped {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 300px;
  height: 460px;
}

/* flip speed goes here */
.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  border-radius:10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color:white;
  border:thin solid rgba(50,50,50, .5);
  padding:20px;

  -webkit-box-shadow: 5px 5px 0px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    5px 5px 0px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         5px 5px 0px 0px rgba(50, 50, 50, 0.25);

}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
